#home-container {
  text-align: center;
  padding: 25px 0;
}

.home-btn {
  display: flex;
  background-color: #1e73be;
  font-size: 2em;
  padding: 5px 50px;
  margin: 25px auto;
  color: white;
}
.home-btn:hover {
  background-color: black;
  cursor: pointer;
}
