#no-todos-display,
#todos-list {
  font-size: 1.6em;
}

#todos-list {
  list-style-type: none;
  padding: 0;
  width: 600px;
  margin: 0 auto;
  background-color: #eee;
  border: 1px solid #ccc;
}

.list-item {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
